$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import 'sass-bootstrap/lib/bootstrap';

.navbar {
    border-radius: 0px;
}
.bubble {
    height: auto;
    background-color: #f5f5f5;
    margin-left: 15px;
    margin-bottom: 20px;
    border: 1px solid #c2c7d0;
    padding: 10px 10px;
    width: 31.25%;
    min-width: 300px;
    float: left;
    /*font-family: 'Quando', serif;*/
    box-shadow: 5px 5px 2px #888888;
    letter-spacing: .1em;
}
.bubble-content{
    height: 100px;
    overflow: hidden;
}
.bubble-header {
    color: #26b061;
    font-size: 20px;
}
a {
    color: #26b061;
    text-decoration: none;
}
a.navbar-brand{
    max-width: 250px;
    text-shadow: 0px, 2px, 3px, #555;
}
a:hover {
    text-decoration: none;
    color: #049040;
}
.navbar-brand .word{
    overflow: hidden;
    display: inline-block;
    width: 11px;
    transition: all 0.5s ease-in-out;
}
.navbar-brand:hover > .word{
    width: 100px;
}

.navbar-form {
  min-width: 381px;
}
.form-group {
  width: 150px;
}
.container {
  min-width: 600px;
}
.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */
body {
    padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.footer
s{}

/* Custom page header */
.header {
    border-bottom: 1px solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
    }

    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }
    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
}
